@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Habibi&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  max-width: 2000px;
  margin: 0 auto;
  overflow-x: hidden !important;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-links li {
  list-style: none;
}

.limiter {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
  padding: 0 8% !important;
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
}

.navlinks {
  background: #B4D3FF;
  list-style-type: none;
  width: 48vw;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  padding-top: 4rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

header.black nav {
  background: linear-gradient(112.32deg, #33333348 -0.32% rgba(0, 0, 0, 0.296) 0 118.77%);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  min-height: 50px;
  -webkit-transition: all .90s ease-in-out;
  transition: all .90s ease-in-out;
}

.navlinks::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.navitems {
  padding: 1rem 1rem;
  width: 180px;
}

li.navitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navlinks .itemlinks {
  font-family: 'Poppins';
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  color: #000000;
}

.contact-button {
  border: 3px solid #8b60ec;
  border-radius: 50px !important;
  width: 150px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  border-radius: 5px;
}

.dropmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  display: none;
}

.navitems:hover > .dropmenu {
  display: block;
}

.dropitems {
  text-align: left;
  padding: 1rem;
  width: 100%;
}

.logo {
  -webkit-box-flex: 0px;
      -ms-flex-positive: 0px;
          flex-grow: 0px;
  width: 100%;
  cursor: pointer;
  padding-top: 5px;
}

.logo img {
  width: 200px;
  height: 60px;
}

#burger {
  z-index: 99;
}

.burgerlines {
  border-bottom: 4px solid #fff;
  height: 7px;
  width: 25px;
  cursor: pointer;
}

a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.navitems > a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 900px) {
  .navlinks {
    background: transparent;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    min-height: 50px;
    padding: 0 10%;
  }
}

@media screen and (min-width: 900px) {
  .limiter {
    width: 100%;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #burger {
    display: none;
  }
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: fixed;
    padding: 0 10%;
  }
  .navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    overflow-y: visible;
    padding: 0;
  }
  .dropmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30%;
    display: none;
    left: 30%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .navitems:hover > .dropmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropitems {
    text-align: center;
    padding: 1rem;
  }
  .navitems {
    padding: 1rem 0rem;
    text-align: right;
  }
  li.navitems {
    width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    width: 170px;
    height: 30px;
  }
}

@media screen and (max-width: 290px) {
  .logo a {
    font-size: 14px;
  }
}

/* HOME SECTION  */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: url("img/home_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home .box_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff65;
  width: 790px;
  height: 420px;
  padding: 0px 10px;
  border-radius: 20px;
  margin-bottom: 370px;
}

.home .box_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("img/download_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 390px;
  border-radius: 20px;
}

.download_button {
  margin-top: 300px;
}

.download_button button {
  font-size: 35px;
  font-weight: 700;
  border-style: none;
  cursor: pointer;
  color: #7DB443;
  font-family: 'Archivo Black', sans-serif;
  font-style: italic;
}

.button1 {
  background: #ffffff00;
  border-radius: 50px;
}

/* RESPONSIVE */
/* HOME RESPONSIVE */
@media (max-width: 840px) {
  .home {
    padding: 0px 100px;
  }
}

@media (max-width: 680px) {
  .home {
    padding: 0px 50px;
  }
}

@media (max-width: 520px) {
  .home {
    padding: 0px 20px;
  }
  .home .box_container {
    background-image: url(img/mobile-bg-download.png);
  }
}

/* ABOUT US SECTION */
.about-us {
  width: 100%;
  background-color: #CEF6FF;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 140px;
  padding-bottom: 150px;
  padding-top: 100px;
}

.title-about {
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  color: #31510F;
  font-style: italic;
}

.about-us-container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-us-container .about .left {
  margin-top: 100px !important;
  margin-right: 146px;
}

.about-us-container .about .left p {
  font-family: 'Habibi', serif;
  font-size: 35px;
}

.about-us-container1 .about2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-us-container1 {
  margin-top: 100px;
}

.about-us-container1 .about2 .right p {
  font-family: 'Habibi', serif;
  font-size: 35px;
}

.about-us-container1 .about2 .left {
  margin-right: 146px;
  margin-top: 50px;
}

/* ABOUT RESPONSIVE */
@media (max-width: 1220px) {
  .about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .title-about {
    margin-bottom: 50px;
  }
  .about-us-container .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-us-container .about .left p {
    font-size: 20px;
  }
  .about-us-container .about .right img {
    width: 350px;
  }
  .about-us-container1 .about2 img {
    margin-bottom: 50px;
  }
  .about-us-container .about .left {
    margin-right: 0;
  }
  .about-us-container1 .about2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-us-container1 .about2 .left {
    margin-right: 0;
  }
  .about-us-container1 .about2 .right p {
    font-size: 20px;
  }
  .about-us-container1 .about2 .left img {
    width: 350px;
  }
}

@media (max-width: 427px) {
  .about-us {
    padding: 0px 100px;
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .title-about {
    font-size: 18px;
  }
  .about-us-container .about .right img {
    width: 250px !important;
  }
  .about-us-container .about .left p {
    font-size: 17px;
  }
  .about-us-container1 .about2 .left img {
    width: 250px;
  }
  .about-us-container1 .about2 .right p {
    font-size: 17px;
  }
}

/* GOALS SECTION */
.goals {
  width: 100%;
  background-color: #8DCBD8;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 140px;
  padding-bottom: 150px;
  padding-top: 100px;
}

.title-goals {
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  color: #0D3740;
  font-style: italic;
}

.goals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.goal-img {
  margin-right: 100px;
  margin-top: 90px;
}

.goal-all-container {
  margin-top: 80px;
}

.goal-all-container .goal1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.goal-all-container .goal1 p {
  margin-top: 30px;
}

.goal-all-container .goal2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.goal-all-container .goal2 p {
  margin-top: 30px;
}

.goal-all-container .goal3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.goal-all-container .goal3 p {
  margin-top: 30px;
}

.goal-all-container .goal4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.goal-all-container .goal4 p {
  margin-top: 30px;
}

@media (max-width: 1175px) {
  .goals {
    padding: 0px 100px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 1150px) {
  .goal-img {
    display: none;
  }
  .goal1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .goal1 img {
    width: 200px;
  }
  .goal2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .goal2 img {
    width: 200px;
  }
  .goal3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .goal3 img {
    width: 200px;
  }
  .goal4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .goal4 img {
    width: 200px;
  }
}

@media (max-width: 427px) {
  .title-goals {
    font-size: 18px;
  }
}

/* GAMES SECTION */
.game {
  width: 100%;
  background-color: #CEF6FF;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 140px;
  padding-bottom: 150px;
  padding-top: 100px;
}

.title-games {
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  color: #31510F;
  font-style: italic;
}

.game-all-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 80px;
  margin-bottom: 80px;
}

.game-all-container .game1 {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-all-container .game1 p {
  margin-top: 30px;
  text-align: center;
}

.game-all-container .game2 {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-all-container .game2 p {
  margin-top: 30px;
  text-align: center;
}

.game-all-container .game3 {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-all-container .game3 p {
  margin-top: 30px;
  text-align: center;
}

.game-all-container .game4 {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-all-container .game4 p {
  margin-top: 30px;
  text-align: center;
}

.house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.house p {
  width: 500px;
}

@media (max-width: 1174px) {
  .game-all-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .game-all-container .game1 {
    margin-right: 0px;
  }
  .game-all-container .game1 p {
    width: 80%;
    margin-bottom: 20px;
  }
  .game-all-container .game2 {
    margin-right: 0px;
  }
  .game-all-container .game2 p {
    width: 80%;
    margin-bottom: 20px;
  }
  .game-all-container .game3 {
    margin-right: 0px;
  }
  .game-all-container .game3 p {
    width: 80%;
    margin-bottom: 20px;
  }
  .game-all-container .game4 {
    margin-right: 0px;
  }
  .game-all-container .game4 p {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 770px) {
  .house {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    text-align: center;
  }
  .house img {
    margin-bottom: 40px;
  }
  .house p {
    width: 60%;
  }
}

@media (max-width: 605px) {
  .game-all-container .game1 p {
    font-size: 14px;
    width: 70% !important;
  }
  .game-all-container .game2 p {
    font-size: 14px;
    width: 70% !important;
  }
  .game-all-container .game3 p {
    font-size: 14px;
    width: 70% !important;
  }
  .game-all-container .game4 p {
    font-size: 14px;
    width: 70% !important;
  }
}

/* TEAMS SECTION */
.teams {
  width: 100%;
  background-image: url("img/bg-team.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 140px;
  padding-bottom: 150px;
  padding-top: 100px;
}

.title-teams-container h1 {
  font-size: 45px;
  font-family: 'Inter', sans-serif;
  color: #11142D;
  font-style: italic;
  margin-bottom: 20px;
}

.title-teams-container p {
  font-size: 18px;
  width: 600px;
  font-family: 'Inter', sans-serif;
  color: #11142D;
}

.team-all-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.teams-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.teams-container1 img {
  width: 300px;
}

.teams-container1 .ashera {
  margin-right: 250px;
}

.teams-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.teams-container2 img {
  width: 300px;
}

.teams-container2 .shena {
  margin-right: 250px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  background-color: #0D3740;
  color: #FFFFFF;
}

/* TEAM */
@media (max-width: 1030px) {
  .teams-container1 .ashera {
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .teams-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .teams-container2 .shena {
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .teams-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .title-teams-container h1 {
    font-size: 18px;
  }
  .title-teams-container p {
    font-size: 14px;
    width: 100%;
  }
  .teams {
    padding: 0px 80px;
    padding-bottom: 150px;
    padding-top: 50px;
  }
}

@media (max-width: 450px) {
  .teams img {
    width: 200px;
  }
}

@media (max-width: 450px) {
  footer p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */