/* GOALS SECTION */

.goals {
    width: 100%;
    background-color: #8DCBD8;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 140px;
    padding-bottom: 150px;
    padding-top: 100px;
 }
 
 .title-goals {
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    color: #0D3740;
    font-style: italic;
 }
 
 .goals-container {
    display: flex;
    flex-direction: row;
 }
 .goal-img{
    margin-right: 100px;
    margin-top: 90px;
 }
 
 .goal-all-container {
    margin-top: 80px;
 }
 .goal-all-container .goal1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
 }
 
 .goal-all-container .goal1 p {
    margin-top: 30px;
 }
 
 .goal-all-container .goal2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
 
 }
 
 .goal-all-container .goal2 p {
    margin-top: 30px;
 }
 
 .goal-all-container .goal3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
 }
 
 .goal-all-container .goal3 p {
    margin-top: 30px;
 }
 
 .goal-all-container .goal4 {
    display: flex;
    flex-direction: row;
 }
 
 .goal-all-container .goal4 p {
    margin-top: 30px;
 }

 
@media(max-width:1175px){
    .goals{
       padding: 0px 100px;
       padding-top: 80px;
       padding-bottom: 80px;
 
    }
 }
 
 @media(max-width:1150px){
    .goal-img{
       display: none;
    }
 
   .goal1{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       flex-direction: column !important;
    }
   .goal1 img{
       width: 200px;
    }
    .goal2{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       flex-direction: column !important;
    }
   .goal2 img{
       width: 200px;
    }
    .goal3{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       flex-direction: column !important;
    }
   .goal3 img{
       width: 200px;
    }
    .goal4{
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       flex-direction: column !important;
    }
   .goal4 img{
       width: 200px;
    }
 }
 
 
 @media(max-width:427px){
    .title-goals {
       font-size: 18px;
   }
 }